body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1195px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1181px;
  height:2px;
}
#u177 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:630px;
  width:1180px;
  height:1px;
}
#u177_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:422px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u179 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:200px;
  width:590px;
  height:422px;
}
#u179_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  background:inherit;
  background-color:rgba(134, 21, 23, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:270px;
  width:160px;
  height:22px;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u181_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:156px;
  word-wrap:break-word;
}
#u182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:143px;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:270px;
  width:300px;
  height:143px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:420px;
  width:338px;
  height:165px;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u183_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  background:inherit;
  background-color:rgba(134, 21, 23, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:303px;
  width:160px;
  height:22px;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:156px;
  word-wrap:break-word;
}
#u186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:143px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:270px;
  width:300px;
  height:143px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:420px;
  width:338px;
  height:165px;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u187_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  background:inherit;
  background-color:rgba(134, 21, 23, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:337px;
  width:160px;
  height:22px;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:156px;
  word-wrap:break-word;
}
#u190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:143px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:270px;
  width:300px;
  height:143px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:420px;
  width:338px;
  height:165px;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u191_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u193_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  background:inherit;
  background-color:rgba(134, 21, 23, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:370px;
  width:160px;
  height:22px;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:156px;
  word-wrap:break-word;
}
#u194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:143px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:270px;
  width:300px;
  height:143px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u195_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:420px;
  width:338px;
  height:165px;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u195_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u197_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  background:inherit;
  background-color:rgba(134, 21, 23, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:403px;
  width:160px;
  height:22px;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:156px;
  word-wrap:break-word;
}
#u198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:143px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:270px;
  width:300px;
  height:143px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:420px;
  width:338px;
  height:165px;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u201_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  background:inherit;
  background-color:rgba(134, 21, 23, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:436px;
  width:160px;
  height:22px;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:156px;
  word-wrap:break-word;
}
#u202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:143px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:270px;
  width:300px;
  height:143px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:420px;
  width:338px;
  height:165px;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u203_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:51px;
  background:inherit;
  background-color:rgba(134, 21, 23, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:206px;
  width:580px;
  height:51px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:576px;
  word-wrap:break-word;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:270px;
  width:290px;
  height:171px;
}
#u207_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:171px;
  overflow:hidden;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:270px;
  width:290px;
  height:171px;
}
#u209_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:171px;
  overflow:hidden;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:451px;
  width:290px;
  height:171px;
}
#u211_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:171px;
  overflow:hidden;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:451px;
  width:290px;
  height:171px;
}
#u213_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:171px;
  overflow:hidden;
}
#u214_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:51px;
  background:inherit;
  background-color:rgba(134, 21, 23, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:206px;
  width:590px;
  height:51px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u214_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:586px;
  word-wrap:break-word;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u216_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 24, 26, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:160px;
  width:290px;
  height:31px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u216_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:286px;
  word-wrap:break-word;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 24, 26, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:160px;
  width:290px;
  height:31px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:286px;
  word-wrap:break-word;
}
#u218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 24, 26, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:160px;
  width:290px;
  height:31px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u218_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:286px;
  word-wrap:break-word;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 24, 26, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:160px;
  width:290px;
  height:31px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:286px;
  word-wrap:break-word;
}
#u220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:146px;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:600px;
  height:146px;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:10px;
  width:40px;
  height:32px;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:13px;
  width:70px;
  height:27px;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:41px;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:6px;
  width:40px;
  height:41px;
}
#u224_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
