body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1195px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1181px;
  height:2px;
}
#u180 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:630px;
  width:1180px;
  height:1px;
}
#u180_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u182_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:422px;
  background:inherit;
  background-color:rgba(255, 204, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u182 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:200px;
  width:590px;
  height:422px;
}
#u182_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u183 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u184_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  background:inherit;
  background-color:rgba(134, 21, 23, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u184 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:270px;
  width:160px;
  height:22px;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u184_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:156px;
  word-wrap:break-word;
}
#u185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:143px;
}
#u185 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:270px;
  width:300px;
  height:143px;
}
#u185_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u186 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:420px;
  width:338px;
  height:165px;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u186_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u187 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u188_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  background:inherit;
  background-color:rgba(134, 21, 23, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u188 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:303px;
  width:160px;
  height:22px;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u188_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:156px;
  word-wrap:break-word;
}
#u189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:143px;
}
#u189 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:270px;
  width:300px;
  height:143px;
}
#u189_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u190_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u190 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:420px;
  width:338px;
  height:165px;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u190_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u191 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u192_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  background:inherit;
  background-color:rgba(134, 21, 23, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u192 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:337px;
  width:160px;
  height:22px;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u192_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:156px;
  word-wrap:break-word;
}
#u193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:143px;
}
#u193 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:270px;
  width:300px;
  height:143px;
}
#u193_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u194 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:420px;
  width:338px;
  height:165px;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u194_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u195 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u196_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  background:inherit;
  background-color:rgba(134, 21, 23, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u196 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:370px;
  width:160px;
  height:22px;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u196_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:156px;
  word-wrap:break-word;
}
#u197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:143px;
}
#u197 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:270px;
  width:300px;
  height:143px;
}
#u197_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u198 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:420px;
  width:338px;
  height:165px;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u198_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  background:inherit;
  background-color:rgba(134, 21, 23, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u200 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:403px;
  width:160px;
  height:22px;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:156px;
  word-wrap:break-word;
}
#u201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:143px;
}
#u201 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:270px;
  width:300px;
  height:143px;
}
#u201_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u202 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:420px;
  width:338px;
  height:165px;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u202_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u203 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:22px;
  background:inherit;
  background-color:rgba(134, 21, 23, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u204 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:436px;
  width:160px;
  height:22px;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:3px;
  width:156px;
  word-wrap:break-word;
}
#u205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:143px;
}
#u205 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:270px;
  width:300px;
  height:143px;
}
#u205_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:165px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u206 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:420px;
  width:338px;
  height:165px;
  font-family:'Verdana Negrita', 'Verdana Normal', 'Verdana';
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  word-wrap:break-word;
}
#u207_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:51px;
  background:inherit;
  background-color:rgba(134, 21, 23, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u207 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:206px;
  width:580px;
  height:51px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u207_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:576px;
  word-wrap:break-word;
}
#u208 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u210 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:270px;
  width:290px;
  height:171px;
}
#u210_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:171px;
  overflow:hidden;
}
#u211 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u212 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:270px;
  width:290px;
  height:171px;
}
#u212_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:171px;
  overflow:hidden;
}
#u213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u214 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:451px;
  width:290px;
  height:171px;
}
#u214_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:171px;
  overflow:hidden;
}
#u215 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u216 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:451px;
  width:290px;
  height:171px;
}
#u216_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:171px;
  overflow:hidden;
}
#u217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:51px;
  background:inherit;
  background-color:rgba(134, 21, 23, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u217 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:206px;
  width:590px;
  height:51px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u217_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:5px;
  width:586px;
  word-wrap:break-word;
}
#u218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 24, 26, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u219 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:160px;
  width:290px;
  height:31px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u219_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:286px;
  word-wrap:break-word;
}
#u220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 24, 26, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u220 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:160px;
  width:290px;
  height:31px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u220_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:286px;
  word-wrap:break-word;
}
#u221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 24, 26, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u221 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:160px;
  width:290px;
  height:31px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u221_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:286px;
  word-wrap:break-word;
}
#u222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 24, 26, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u222 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:160px;
  width:290px;
  height:31px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u222_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:286px;
  word-wrap:break-word;
}
#u223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:146px;
}
#u223 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:600px;
  height:146px;
}
#u223_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:10px;
  width:40px;
  height:32px;
}
#u225_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:13px;
  width:70px;
  height:27px;
}
#u226_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:41px;
}
#u227 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:6px;
  width:40px;
  height:41px;
}
#u227_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
