body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1195px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u97_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1181px;
  height:2px;
}
#u97 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:920px;
  width:1180px;
  height:1px;
}
#u97_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u98 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u99 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:201px;
  width:590px;
  height:347px;
}
#u99_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:347px;
  overflow:hidden;
}
#u100 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u101 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:201px;
  width:590px;
  height:347px;
}
#u101_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:347px;
  overflow:hidden;
}
#u102 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u103 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:558px;
  width:590px;
  height:347px;
}
#u103_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:347px;
  overflow:hidden;
}
#u104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u105 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:558px;
  width:590px;
  height:347px;
}
#u105_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:590px;
  height:347px;
  overflow:hidden;
}
#u106 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u107_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 24, 26, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u107 {
  border-width:0px;
  position:absolute;
  left:605px;
  top:160px;
  width:290px;
  height:31px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u107_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:286px;
  word-wrap:break-word;
}
#u108_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 24, 26, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u108 {
  border-width:0px;
  position:absolute;
  left:305px;
  top:160px;
  width:290px;
  height:31px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u108_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:286px;
  word-wrap:break-word;
}
#u109_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 24, 26, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u109 {
  border-width:0px;
  position:absolute;
  left:905px;
  top:160px;
  width:290px;
  height:31px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u109_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:286px;
  word-wrap:break-word;
}
#u110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:290px;
  height:31px;
  background:inherit;
  background-color:rgba(153, 24, 26, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u110 {
  border-width:0px;
  position:absolute;
  left:5px;
  top:160px;
  width:290px;
  height:31px;
  font-family:'Bauhaus 93 Normal', 'Bauhaus 93';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u110_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:286px;
  word-wrap:break-word;
}
#u111_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:146px;
}
#u111 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:600px;
  height:146px;
}
#u111_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u113_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:32px;
}
#u113 {
  border-width:0px;
  position:absolute;
  left:1105px;
  top:10px;
  width:40px;
  height:32px;
}
#u113_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u114_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:27px;
}
#u114 {
  border-width:0px;
  position:absolute;
  left:1025px;
  top:13px;
  width:70px;
  height:27px;
}
#u114_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:41px;
}
#u115 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:6px;
  width:40px;
  height:41px;
}
#u115_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
